@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');@tailwind base;

@tailwind components;
@tailwind utilities;

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}